<section>
  <div class="container-fluid py-5 text-center mx-auto w-25"></div>
    <h2 class="w-25 mx-auto text-white text-center"> Let’s work together on your
      next project</h2>
      <p class="w-50 mx-auto text-white text-center py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
      <div class="gap-2 d-grid col-2 mx-auto py-5">
        <button class="btn btn-primary" type="button">Button</button>
      </div>
  </div>
 </section>